<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add components</title>
    <link href="css/tabs.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/head :: navigations"/>
<h1>Добавление модулей</h1>

<div class="tabs">
    <div id="motherboard">
        <form method="post" action="/addcomponents/addMb" th:object="${mboard}">
            <div th:replace="fragments/types :: module(name ='caseFormFactor', values = ${caseFormsFactor})" />
            <div th:replace="fragments/types :: module(name = 'cpuSocket', values = ${cpuSockets})" />
            <div th:replace="fragments/types :: module(name = 'ramType', values = ${ramTypes})" />
            <div th:replace="fragments/types :: module(name = 'hddType', values = ${hddTypes})" />
            <div th:replace="fragments/manufacturer :: form" />
            <input type="submit" value="Добавить мат. плату">
        </form>

        <table class="modules">
            <tr>
                <th>FormFactor</th>
                <th>Cpu socket</th>
                <th>Ram type</th>
                <th>Hdd type</th>
                <div th:replace="fragments/manufacturer :: tableTh" />
                <th>remove</th>
            </tr>
            <tr th:each="mb: ${motherboards}">
                <td th:text="${mb.caseFormFactor}" />
                <td th:text="${mb.cpuSocket}" />
                <td th:text="${mb.ramType}" />
                <td th:text="${mb.hddType}" />
                <span th:replace="fragments/manufacturer :: table(m = ${mb})" />
                <td><a th:href="@{/addcomponents/delMotherboard(id=${mb.id})}"> delete </a> </td>
            </tr>
        </table>
    </div>

    <div id="cpu">
        <form action="/addcomponents/addCpu" method="post" th:object="${cpu}">
            <div th:replace="fragments/types :: module(name = 'cpuSocket', values = ${cpuSockets})" />
            <div th:replace="fragments/manufacturer :: form" />
            <input type="submit" value="Добавить CPU">
        </form>

        <table class="modules">
            <th>Socket</th>
            <div th:replace="fragments/manufacturer :: tableTh" />
            <th>remove</th>
            <tr th:each="c: ${cpuList}">
                <td th:text="${c.cpuSocket}" />
                <span th:replace="fragments/manufacturer :: table(m = ${c})" />
                <td><a th:href="@{/cpu/delcpu(id=${c.id})}"> delete </a> </td>

            </tr>
        </table>
    </div>

    <div  id="ram">
        <form method="post" action="/addcomponents/addRam" th:object="${ram}">
            <div th:replace="fragments/types :: module(name = 'ramType', values = ${ramTypes})"/>
            <input placeholder="size Gb" type="text" th:name="size"><br>
            <div th:replace="fragments/manufacturer :: form" />
            <input type="submit" value="Добавить RAM">
        </form>

        <table class="modules">
            <tr>
                <th>Ram type</th>
                <div th:replace="fragments/manufacturer :: tableTh" />
                <th>remove</th>
            </tr>
            <tr th:each="r: ${ramList}">
                <td th:text="${r.ramType}" />
                <span th:replace="fragments/manufacturer :: table(m = ${r})" />
                <td><a th:href="@{/addcomponents/delRam(id=${r.id})}"> delete </a> </td>
            </tr>
        </table>
    </div>

    <div id="hdd">
        <form method="post" action="/addcomponents/addHdd" th:object="${hdd}">
            <div th:replace="fragments/types :: module(name = 'hddType', values = ${hddTypes})"/>
            <input placeholder="size Gb" type="text" th:name="size"><br>
            <div th:replace="fragments/manufacturer :: form" />
            <input type="submit" value="Добавить HDD">
        </form>

        <table class="modules">
            <tr>
                <th>Hdd type</th>
                <th>Size Gb</th>
                <div th:replace="fragments/manufacturer :: tableTh" />
                <th>remove</th>
            </tr>
            <tr th:each="h: ${hddList}">
                <td th:text="${h.hddType}" />
                <td th:text="${h.size}" />
                <span th:replace="fragments/manufacturer :: table(m = ${h})" />
                <td><a th:href="@{/addcomponents/delHdd(id=${h.id})}"> delete </a> </td>
            </tr>
        </table>
    </div>

    <div id="gpu">
        <form method="post" action="/addcomponents/addGpu" th:object="${gpu}">
            <input placeholder="size Gb" type="text" th:name="size"><br>
            <div th:replace="fragments/manufacturer :: form" />
            <input type="submit" value="Добавить GPU">
        </form>

        <table class="modules">
            <tr>
                <th>Size Gb</th>
                <div th:replace="fragments/manufacturer :: tableTh" />
                <th>remove</th>
            </tr>
            <tr th:each="g: ${gpuList}">
                <td th:text="${g.size}" />
                <span th:replace="fragments/manufacturer :: table(m = ${g})" />
                <td><a th:href="@{/addcomponents/delGpu(id=${g.id})}"> delete </a> </td>
            </tr>
        </table>
    </div>

    <div id="case">
        <form method="post" action="/addcomponents/addCase" th:object="${caseBlock}">
            <div th:replace="fragments/types :: module(name = 'caseFormFactor', values = ${caseFormsFactor})"/>
            <div th:replace="fragments/manufacturer :: form" />
            <input type="submit" value="Добавить корпус">
        </form>

        <table class="modules">
            <tr>
                <th>FormFactor</th>
                <div th:replace="fragments/manufacturer :: tableTh" />
                <th>remove</th>
            </tr>
            <tr th:each="b: ${caseList}">
                <td th:text="${b.caseFormFactor}" />
                <span th:replace="fragments/manufacturer :: table(m = ${b})" />
                <td><a th:href="@{/addcomponents/delCase(id=${b.id})}"> delete </a> </td>
            </tr>
        </table>
    </div>

    <div class="tabs__links">
        <a href="#motherboard">Материнская плата</a>
        <a href="#cpu">Процессор</a>
        <a href="#ram">Оперативная память</a>
        <a href="#hdd">Жесткий диск</a>
        <a href="#gpu">Видеокарта</a>
        <a href="#case">Корпус</a>
    </div>
</div>

</body>
</html>